<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="css/styles.css"
  <meta charset="UTF-8"> 
  <title><%= title %></title>
</head>
<body>

  <h1>Welcome to <%= title %>!</h1>
    <h1>Resume</h1>
      <h2><b>Personal Information</b></h2>
      <p>Juan Miguel T. Enriquez</p>
      <p>09605615578</p>
      <p>Student Developer</p>

        <h2>Profile</h2>
        <p>I am student developer at Holy Angel Universit. Currently I am a 2nd year college student
        who's studying web develpoment at this point of time. I know how to use java, python, the three basics of front end and node js express. </p>
        
        <h2>Education</h2>
        <p> * Studied at Sto Rosario Elem School 
        <br>* Studied at Holy Angel University</p>

        <h2>Personal Projects</h2>
        <p>I like developing websites that topics about mental health and about the story of batman. In addition to that I'm into developing batman comics and further more more related to batman</p>
  

</body>
</html>